<p id="notice"><%= notice %></p>
<div class="container">
<h3>User Name : <%= @user.name %></h3>
<h3>Gender : <%= @user.gender %></h3>
<h3>Department : <%= @department.departmentname %></h3>
<%= link_to "Edit", edit_user_path(@user), :class => 'btn btn-outline-primary' %>
<%= link_to "Delete", user_path(@user), method: :delete, data: {confirm: 'Are You Sure?'}, :class => 'btn btn-outline-danger' %>
</div>
<hr>
<h3><%= @user.name %>- Project Details</h3>
<% @projects.each do |project| %>
<div class="card body">
  <h4> Project Name : <%= project.projectname %></h4>
  <p> Title : <%= project.title %> </p>
</div>
<br/>
<% end %>
