<p id="notice"><%= notice %></p>
<h3 class="text-center">Edit Department</h3>

<%= form_for @department, url: department_path do |f| %>

<p>
  <%= f.label :departmentname ,"Department Name" %><br>
  <%= f.text_field :departmentname , required: true %>
</p>
<p>
  <%= f.submit("Update Department",{:class => 'btn btn-outline-primary'}) %>
</p>
<% end %>
